DMG_BACKGROUND="./public/assets/dmg-background@2x.png"
DMG_TITLE="Sonic Flow"

VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

VITE_SENTRY_DSN=
VITE_SENTRY_ENVIRONMENT=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
R2_ENDPOINT=
R2_BUCKET=
R2_REGION=

APPLE_IDENTITY=
APPLE_ID=
APPLE_APP_SPECIFIC_PASSWORD=
APPLE_TEAM_ID=
APPLE_NOTARIZE=