<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.spoke.app.helper</string>
    <key>CFBundleName</key>
    <string>Spoke Helper</string>
    <key>CFBundleDisplayName</key>
    <string>Spoke Helper</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleExecutable</key>
    <string>Spoke Helper</string>
</dict>
</plist>
